.run-icon,.pause-icon,.pause-icon::before{
  height: 8vmin;
  margin: auto;
  background: linear-gradient(180deg, #AE2045 0%, #E65969 74%);
}
.run-icon{
  width: 6vmin;
  clip-path: polygon(0 0, 100% 50%, 0% 100%);
  transform: translate(10%,0);
}
.pause-icon{
  width: 2vmin;
  transform: translate(60%,0);
}
.pause-icon::before{
  content: '';
  display: block;
  width: 2vmin;
  transform: translate(-160%,0);
}