.bar{
  width: 100%;
  max-width: 80px;
  align-self: flex-end;
  margin: 1px;
}
.new{
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255) 20vh);
}
.inspecting{
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(235, 211, 61) 20vh); 
}
.selected{
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(230, 89, 105) 20vh); 
}
.sorted{
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(169, 209, 84) 20vh);
}