.algo-icon{
  height: 4.5vmin;
  width: 4.5vmin;
  margin: auto;
  clip-path: polygon(0% 0%, 40% 0%, 40% 40%, 60% 40%, 60% 0%, 100% 0%, 100% 40%, 60% 40%, 60% 60%, 100% 60%, 100% 100%, 60% 100%, 60% 60%, 40% 60%, 40% 100%, 0% 100%, 0% 60%, 40% 60%, 40% 40%, 0% 40%);
  -webkit-clip-path: polygon(0% 0%, 40% 0%, 40% 40%, 60% 40%, 60% 0%, 100% 0%, 100% 40%, 60% 40%, 60% 60%, 100% 60%, 100% 100%, 60% 100%, 60% 60%, 40% 60%, 40% 100%, 0% 100%, 0% 60%, 40% 60%, 40% 40%, 0% 40%);
  border: solid 1vmin #1f928b ;
}