.fullscreen-icon{
  height: 4.5vmin;
  width: 4.5vmin;
  margin: auto;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}
.corner{
  height: 2.25vmin;
  width: 2.25vmin;
  background: lightseagreen;
  transition: all 500ms ease-in-out;
  clip-path: polygon(84% 0%, 84% 28%, 28% 28%, 28% 84%, 0% 84%, 0% 0%);
  -webkit-clip-path: polygon(84% 0%, 84% 28%, 28% 28%, 28% 84%, 0% 84%, 0% 0%);
}
.corner.on{
  clip-path: polygon(56% 0%, 84% 0%, 84% 84%, 0% 84%, 0% 56%, 56% 56%);
  -webkit-clip-path: polygon(56% 0%, 84% 0%, 84% 84%, 0% 84%, 0% 56%, 56% 56%);
}
.corner:nth-child(2n){
  transform: rotate(90deg);
}
.corner:nth-child(3n){
  transform: rotate(-90deg);
}
.corner:last-child{
  transform: rotate(180deg);
}