.size-icon,
.speed-icon{
  width: 8vmin;
  height: 8vmin;
  margin: auto;
}
.size-icon{
  background: linear-gradient(90deg, #EFA923 0%, #EBD33D 100%);
  clip-path: polygon(70% 13%, 70% 0%, 100% 25%, 70% 50%, 70% 37%, 0% 37%, 0% 75%, 30% 50%, 30% 63%, 100% 63%, 100% 87%, 30% 87%, 30% 100%, 0% 75%, 0% 13% );  
}
.speed-icon{
  background: linear-gradient(180deg, #82B53E 0%, #A9D154 100%);
  clip-path: url('#speed');
  /* <path d="M140 70C140 39.5 116 -3.95115e-05 70 0C24 -3.95115e-05 0 39.5 0 70H24.5C24.5 55.5 32.5 24 70 24C107.5 24 115.5 55.5 115.5 70H140Z" fill="url(#paint0_linear)"/> */
}
