section{
  display: flex;
  align-items: center;
  margin-top: auto;
  height: 20vh;
}
.left-controls,.right-controls{
  width: min(40vw,500px);
  height: 15vmin;  
  padding: 0.25em;
  padding-right: 0.5em;
  background: linear-gradient(180deg, #C4C4C4 0%, #837F7F 100%);
  border-radius: 101px;
  display: flex;
}
.control:nth-child(2n){
  margin-left: auto;
  transform: translate(0.25em,0);
}
.left-controls{
  box-shadow: -8px 8px 8px 8px rgba(0, 0, 0, 0.25);
  margin-right: auto;
}
.right-controls{
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);
}
.control{
  position: relative;
  display: flex;
  width: calc(15vmin - 0.5em);
  transition: all 200ms cubic-bezier(1, -1, 0, 2);
}
.btn{
  width: calc(15vmin - 0.5em);
  height: calc(15vmin - 0.5em);
  padding: 0;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #8F8F8F 100%);
  display: flex;
}
.control:hover{
  transform: scale(1.1,1.1);
}
.label{
  position: absolute;
  width: 200%;
  font-size: calc(0.59113300492611vw + 10.783251231527px);
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  top:-1.5em;
  left: -50%;
}