section{
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  margin-top: 5vh;
  height: 20vh;  
}
.left-controls,.right-controls{
  width: min(40vw,500px);
  height: 15vmin;  
  padding: 0.25em;
  padding-right: 0.5em;
  border-radius: 101px;
  display: flex;
  background-image: linear-gradient(180deg, #C7C9D1 0%, #FFFFFF 25.52%, #E3E4E8 52.08%, #ABADBA 99.99%, #E1DFE2 100%);
}
.control:nth-child(2n){
  margin-left: auto;
  transform: translate(0.25em,0);
}
.left-controls{
  box-shadow: -8px 8px 8px 8px rgba(0, 0, 0, 0.25),
  -32px 16px 32px 32px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: -8px 8px 8px 8px rgba(0, 0, 0, 0.25),
  -32px 16px 32px 32px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: -8px 8px 8px 8px rgba(0, 0, 0, 0.25),
  -32px 16px 32px 32px rgba(0, 0, 0, 0.20);
  margin-right: auto;
}
.right-controls{
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25),
    32px 16px 32px 32px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25),
    32px 16px 32px 32px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25),
    32px 16px 32px 32px rgba(0, 0, 0, 0.20);
}
.control{
  position: relative;
  display: flex;
  width: calc(15vmin - 0.5em);
  transition: all 200ms ease-in-out; /*cubic-bezier(1, -1, 0, 2); */
}
.btn{
  width: calc(15vmin - 0.5em);
  height: calc(15vmin - 0.5em);
  padding: 0;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  background: #F4F4F6;
  box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
  border: none;
  display: flex;
}
.btn:hover{
  background: #FFFFFF;
}
.btn:active{
  background: #EEEFF1;
}
.hide{
  opacity: 0;
  pointer-events: none;
}
/* .control:hover:not(.using){
  transform: scale(1.1,1.1);
} */
.label{
  position: absolute;
  width: 200%;
  font-size: calc(0.59113300492611vw + 10.783251231527px);
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  top:-1.5em;
  transition: all 500ms ease-in-out;
}
.using>.label{
  width: min(40vw,500px);
}
.size>.label,
.run>.label{
  left: -50%;
}
.size.using>.label{
  left: 0;
}
.algo>.label,
.speed>.label{
  right: -50%;
}
.algo.using>.label,
.speed.using>.label{
  right: 0;
}