#sizeSelector{
  position: absolute;
  top:0;
  left: .5rem;
}
.size-icon,
.speed-icon{
  height: 6.8vmin;
  width: 6.8vmin;
  margin: auto;
}
.size-icon{
  color: #EFA923;
  font-size: 6vmin; 
  font-weight: 900;    
}
.btn:hover>.size-icon{
  text-shadow: 0 0 1.3rem #EFA923;
}
.range{
  position: absolute;
  bottom: 0;
  width: calc(40vw + 05rem + 4px);
  width: min(40vw + .5rem + 4px,500px + .5rem + 4px);
  margin-top: -.5rem;
  -webkit-appearance: none;
  background: transparent; 
}
.range::-webkit-slider-thumb{
  -webkit-appearance: none;
}
.range::-ms-track{
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 4vmin;
  width: 4vmin;
  border-radius: 2vmin;
  cursor: pointer;
  box-shadow: 0 3px 3px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
.range::-moz-range-thumb{
  box-shadow: 0 3px 3px  #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 4vmin;
  width: 4vmin;
  border-radius: 2vmin;
  cursor: pointer;
}
.range::-ms-thumb{
  box-shadow: 0 3px 3px  #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 4vmin;
  width: 4vmin;
  border-radius: 2vmin;
  cursor: pointer;
}
.range.speed{
  right: -0.75rem;
}
.range.size{
  left: -0.75rem;
}
.range.speed::-webkit-slider-thumb{
  background: radial-gradient(100% 100% at 50% 0%, #6DFF33 6.74%, #44FF00 62.32%, #0E3300 90.1%);
  border: 2px solid #252B3B;
}
.range.speed::-moz-range-thumb{
  background: radial-gradient(100% 100% at 50% 0%, #6DFF33 6.74%, #44FF00 62.32%, #0E3300 90.1%);
  border: 2px solid #252B3B;
}
.range.speed::-ms-thumb{
  background: radial-gradient(100% 100% at 50% 0%, #6DFF33 6.74%, #44FF00 62.32%, #0E3300 90.1%);
  border: 2px solid #252B3B;
}
.range.size::-webkit-slider-thumb{
  background: radial-gradient(100% 100% at 50% 0%, #E6F53D 6.74%, #DFF20D 62.32%, #2D3003 90.1%);
  border: 2px solid #252B3B;
}
.range.size::-moz-range-thumb{
  background: radial-gradient(100% 100% at 50% 0%, #E6F53D 6.74%, #DFF20D 62.32%, #2D3003 90.1%);
  border: 2px solid #252B3B;
}
.range.size::-ms-thumb{
  background: radial-gradient(100% 100% at 50% 0%, #E6F53D 6.74%, #DFF20D 62.32%, #2D3003 90.1%);
  border: 2px solid #252B3B;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

