.squares-container{
  padding: 5vh var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
}
.squares{
  display: grid;
  gap: 1px 1px;
}
.square{
  cursor: pointer;
  transition: all 300ms;
}
.square.new{
  background: white;
}
.square.wall{
  background: #27263F;
}
.square.start{
  background: #00ad2b;
  border-radius: 100px;
}
.square.destination{
  background: #a700ad;
  border-radius: 100px;
}